# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/

# Build artifacts
build/
dist/
*.spec
!jaspervoice.spec

# IDE
.idea/
.vscode/

# OS
Thumbs.db
desktop.ini
.DS_Store

# Runtime data (created on first run under %APPDATA%/JasperVoice/)
*.log
config.json
config.json.bak
history.json
